/* 
    Created on : 27 Jul 2020, 10:43:08
    Author     : Naywia
*/
body, html{
    height: 100%;
    margin: 0px;
}
button{
    background-image: url(image/arrows.png);
    background-size: 100px 100px;
}
#butt{
    cursor: pointer;
    background-color: transparent;
    border: 0px solid;
    font-size: 0px;
}
.header{
    display: flex;
    justify-content: flex-end;
    height: 10%;
    background-color: #f08080; /*Light coral.. description: soft red..*/
}
.innerHeader{
    padding: 0px 10px 0px 0px;
}
.head{
    display: flex;
    font-size: 75px;
    color: #fff;
}

.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90%;
    background-color: #f5c0ae; /*Very soft orange.*/
}
.firstNumber{
    display: flex;
    flex-direction: column;
    padding: 0px 5px 0px 0px;
    width: 450px;
}
.secondNumber{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 5px;
    width: 450px;
}
.values{
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: larger;
    border: 0px solid #fff;
    padding: 0px;
}
.currency{
    text-align: center;
    border: 0px solid #fff;
    height: 40px;
    font-size: larger;
}
.numbers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.numb{
    border-bottom: 5px solid #f08080;
    margin: 0px 0px 7px 0px; /* Top, Right, Bottom, Left */
}

@media (max-width: 950px) {
    .numbers{
        flex-direction: column;
    }
    .firstNumber{
        padding: 0px 0px 10px 0px;
    }
    .secondNumber{
        padding: 0px 0px 0px 0px;
    }
}

@media (max-width: 600px) {
    .firstNumber{
        width: 300px;
        padding: 0px 0px 10px 0px;
    }
    .secondNumber{
        width: 300px;
        padding: 0px 0px 0px 0px;
    }
    .head{
        font-size: 40px;
    }
    .header{
        height: 6%;
    }
    .main{
        height: 94%;
    }
}

input::-webkit.outer-spin-button,
input::-webkit.inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

