/* 
    Created on : 27 Jul 2020, 10:43:08
    Author     : Naywia
*/
body, html{
    height: 100%;
    margin: 0px;
}
.header{
    display: flex;
    justify-content: flex-end;
    height: 10%;
    background-color: #f08080; /*Light coral.. description: soft red..*/
}
.innerHeader{
    padding: 0px 10px 0px 0px;
}
.head{
    display: flex;
    font-size: 75px;
    color: #fff;
}

.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90%;
    background-color: #f5c0ae; /*Very soft orange.*/
}
.firstNumber{
    display: flex;
    width: 300px;
    flex-direction: column;
    padding: 0px 0px 10px 0px;
}
.secondNumber{
    display: flex;
    width: 300px;
    flex-direction: column;
    padding: 0px 0px 10px 0px;
}
.values{
    
    height: 40px;
    width: 290.5px;
    text-align: center;
    font-size: larger;
    border: 0.5px solid #fff;
}
.currency{
    text-align: center;
    margin: 0px 0px 0px 5px;
    border: 0.5px solid #fff;
    height: 40px;
    font-size: larger;
}
.numbers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.numb{
    border-bottom: 5px solid #f08080;
    width: 294px;
    margin: 0px 0px 7px 5px;
}

@media (max-width: 800px) {
    .numbers{
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .head{
        font-size: 40px;
    }
    .header{
        height: 6%;
    }
    .main{
    height: 94%;
}
}

input::-webkit.outer-spin-button,
input::-webkit.inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

    